{% extends 'base.html.twig' %}
{% block title %} Mon compte{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <h1 style="text-align: center" class="my-4">Mon compte</h1>
                <p>Bienvenue <i>{{ app.user.firstname }}</i>, <br>
                    Vous pourrez gerer vos informations personnelles depuis cette page.</p>
                <hr>
                <h4 class="mb-3"> Informations personnelles :</h4>
                <p><b>Nom</b> : {{ app.user.lastname }} <br>
                    <b>Prénom</b> : {{ app.user.firstname }} <br>
                    <b>Email</b> : {{ app.user.email }}</p>
                <hr>
                <p>Pour modifier votre mot de passe <a href="{{ path('password') }}">Cliquez ici.</a></p>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
{% endblock %}
