<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<!-- Barre de navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}">Sotech</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav"> {% if app.user %}
                    <a class="nav-link" href="{{ path('message') }}">Mes messages</a>
                    <a class="nav-link" href="{{ path('account') }}">Mon compte -
                        <small>{{ app.user.firstname }}</small></a>
                    <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                {% else %}
                    <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
{% block content %}{% endblock %}

</body>
<footer>
    <div class="container-fluid mt-2" style="text-align: center; position: absolute;
    bottom: 0;width: 100%;background-color: rgba(248,139,139,0.64); padding-top: 10px">
        <p> <small>&copy; 2021 Messagerie Sotech &middot;
            <a href="https://www.sotech-international.com/en/">Sotech International</a> &middot;
            <a href="#">Mention Légale</a> </small>
        </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
</footer>
</html>
